<% if current_user %>
  <%= render 'profile' %>

  <h1 class="title is-3">
    More Users</h1>
<% else %>
  <h1 class="title is-3">
    Our Members</h1>
<% end %>

<% @users.each do |user| %>
  <% if user != current_user %>
    <div class="media box">

      <figure class="media-left">
        <p class="image">
          <img class="is-rounded is-64x64" src="https://bulma.io/images/placeholders/64x64.png" alt="Icon">
        </p>
      </figure>

      <div class="media-content">
        <p>
          <strong>
            <%= user.name %></strong>
          <br/>
          <small><%= user.email %></small>
        </p>
      </div>
    </div>
  <% end %>

<% end %>